@font-face {
	font-family: Intro;
	src: url(fonts/intro.woff) format('woff');
}

* {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}

::-ms-expand {
	display: none;
}

.reset-button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

body {
	margin: 0;
	font-family: Calibri, sans-serif;
	font-size: 16px;
}

#wrapper {
	overflow: auto;
	position: relative;
}

.button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	position: relative;
	padding: .4em .6em;
	border: 1px solid #fff;
	display: inline-block;
	font-family: Intro;
	text-transform: lowercase;
	font-size: 14px;
	&:before {
		content: '';
		width: 26px;
		height: 10px;
		background: url(imgs/gt-white.svg) no-repeat 50% 50%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -27px;
		margin: auto;
	}
}

.division {
	width: 100%;
	position: relative;
	padding-left: 194px;

	&__inner {	
		height: 100vh;
		margin: auto;
		max-width: 900px;
		padding: 85px 30px 30px;
	}

	&__header {
		font-family: Intro;
		position: relative;
		z-index: 2;
		font-size: 20px;
		&_mode {
			margin-bottom: 18px;
		}
	}

	&__header_white {
		color: #fff;
	}

	&__header_black {
		color: #000;
	}

	@media all and (max-width: 960px) {
		& {
			padding-left: 0;
		}
	}
}

.main-menu {
	padding: 80px 30px 0 30px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	width: 194px;
	background-color: rgba(0, 0, 0, 0.7);
	background-image: url(imgs/face-orange.svg);
	background-repeat: no-repeat;
	background-position: 44px 39px;
	border-right: 1px solid #5b5b5b;
	will-change: scroll-position;

	@media all and (max-width: 960px) {
		display: none;
		right: 0;
		width: auto;
		background-color: #F9F6EF;
		overflow: auto;
		padding: 0;
		background-image: none;
		z-index: 4;

		&__inner {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
		}
	}

	&__item {
		text-decoration: none;
		color: #fff;
		display: block;
		text-align: right;
		font-family: Intro;
		padding: 5px 0;
		position: relative;
		@media all and (max-width: 960px) {
			text-align: center;
			color: #000;
			padding: 20px;
			&:after {
				content: '';
				position: absolute;
				width: 36px;
				height: 3px;
				background-color: #000;
				border-radius: 3px;
				right: 0;
				bottom: -2px;
				left: 0;
				margin: auto;
			}

			&:last-child:after {
				display: none;
			}
		}
	}
}

.menu-button {
	display: none;
	.reset-button;
	width: 60px;
	height: 60px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 50;
	background: url(imgs/menu-button.svg) no-repeat;
	background-size: 100% 100%;

	&:before {
		display: none;
	}
	@media all and (max-width: 960px) {
		display: inline-block;
	}
}

.home-button {
	.reset-button;
	position: fixed;
	bottom: 10px;
	right: 0;
	width: 55px;
	height: 62px;
	background: url(imgs/home-icon.svg) no-repeat 50% 50%;
	background-size: 100% auto;
	z-index: 4;
	display: none;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	&:before {
		display: none;
	}
}

.header {
	background: url(imgs/header-background.jpg) no-repeat 50% 50% / cover;
	background-attachment: fixed;
	min-height: 515px;
	height: 100vh;
	will-change: scroll-position;
	@media all and (max-width: 960px) {
		min-height: 400px;
		background-attachment: scroll;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 194px;
		background-color: rgba(0, 0, 0, 0.25);
		@media all and (max-width: 960px) {
			& {
				left: 0;
			}
		}
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(imgs/header-logo.svg) no-repeat 50% 50%;
		background-size: 50% auto;
	}
}

.social-menu-cont {
	position: absolute;
	right: 30px;
	bottom: 30px;
	display: flex;
	align-items: flex-end;
	z-index: 1;

	@media all and (max-width: 960px) {
		& {
			display: block;
			left: 30px;
		}
	}
}

.social-menu {
	text-align: center;
	&_footer {
		display: flex;
		height: 35px;
		align-items: center;
		position: absolute;
		top: 0;
		right: 90px;
		bottom: 0;
		margin: auto;

		@media all and (max-width: 470px) {
			right: auto;
			left: 0;
		}

		.social-menu__item {
			margin-bottom: 0;
		}
	}
	&__title {
		color: #fff;
		text-transform: lowercase;
		margin-bottom: 6px;
		text-align: center;
	}

	&__item {
		display: block;
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 6px;
		margin-left: 12px;

		@media all and (max-width: 960px) {
			& {
				display: inline-block;
				margin-left: 6px;
			}
		}
	}

	&__item_fb {
		background-image: url(imgs/fb.svg);
	}

	&__item_inst {
		background-image: url(imgs/inst.svg);
	}

	&__item_vk {
		background-image: url(imgs/vk.svg);
	}
}

.introduce {

	&__inner {
		min-height: 450px;
		max-height: 550px;
		padding-bottom: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: url(imgs/introduce-curve.svg) no-repeat 80% 100% / contain;
		color: #727271;
		@media all and (max-width: 960px) {
			& {
				height: auto;
				max-height: none;
			}
		}
	}

	&__p {
		margin: 1em 0 0;
		text-indent: .7em;
		color: #2B2A29;
	}

	&__text {
		font-family: Intro;
		margin: 3em 0 0;
	}
}

.mission {
	background: url(imgs/mission-background.jpg) no-repeat 50% 50% / cover;
	background-attachment: fixed;
	will-change: scroll-position;
	@media all and (max-width: 960px) {
		background-attachment: scroll;
		min-height: 769px;
	}

	&__inner {
		min-height: 550px;
		max-width: 900px;
		@media all and (max-width: 600px) {
			min-height: auto;
			height: auto;
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
	}

	&__text {
		color: #fff;
		font-family: Intro;
		font-size: 24px;
		position: relative;
		z-index: 2;
		margin-top: 27px;
	}

	&__text-button {
		position: absolute;
		right: 30px;
		bottom: 30px;
	}

	&__bloor {
		position: absolute;
		z-index: 1;
		top: 150px;
		right: 0;
		bottom: 0;
		left: 194px;
		display: flex;
		align-items: center;
		@media all and (max-width: 960px) {
			left: 0;
		}

		@media all and (max-width: 400px) {
			top: 210px;
		}

		&-item {
			color: #fff;
			position: relative;
			flex-basis: 100%;
			display: flex;
		}

		&-text {
			max-width: 700px;
			padding: 30px 30px 75px;
			background-color: rgba(0, 0, 0, 0.5);
			position: relative;
			&_before {
				flex-basis: ~"calc((100% - 900px) / 2)";
				background-color: rgba(0, 0, 0, 0.5);
			}
		}
	}

	&__popup {
		position: absolute;
		top: 100px;
		right: 30px;
		left: 224px;
		display: none;
		background-color: #F9F6EF;
		z-index: 1;
		max-width: 900px;
		margin: auto;
		z-index: 2;
		@media all and (max-width: 960px) {
			left: 30px;
		}

		@media all and (max-width: 700px) {
			top: 0;
			right: 0;
			left: 0;
		}
		&-close {
			.reset-button;
			position: absolute;
			top: 30px;
			right: 30px;
			width: 19px;
			height: 19px;
			background-image: url(imgs/close-gray.svg);
			z-index: 2;
		}

		&-inner {
			background: url(imgs/mission-blablabla.svg) repeat-x 50% 0,
						url(imgs/mission-blablabla.svg) repeat-x 50% 100%;
			color: #2B2A29;
			overflow: hidden;
			padding: 80px 30px;
		}

		&-p {
			margin: 0;
			text-indent: .5em;
		}
	}
}

.codex {
	background: url(imgs/codex-curve.svg) no-repeat 100% 50% / contain;

	&__inner {
		min-height: 600px;
		max-height: 720px;
		padding: 85px 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media all and (max-height: 750px) {
			& {
				max-height: none;
				height: auto;
			}
		}
	}

	&__text {
		font-family: Intro;
		max-width: 800px;
		margin-bottom: 30px;
	}

	&__ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__li {
		color: #1F1B20;
		&:before {
			content: '·';
			padding-right: .1em;
		}
	}
}

.services {
	background-color: #E75328;
	height: auto;

	&__inner {
		min-height: 650px;
		max-height: 750px;
		position: relative;
		display: flex;
		flex-direction: column;

		@media all and (max-width: 960px) {
			max-height: none;
			height: auto;
		}
	}

	&__types {
		display: flex;
		justify-content: space-between;
		min-width: 100%;
		margin: 0 auto 30px;
		flex-wrap: wrap;
		@media all and (max-width: 480px) {
			& {
				display: block;
			}
		}
	}

	&__type {
		font-family: Intro;
		color: #fff;
		background-repeat: no-repeat;
		height: 170px;
		position: relative;
		padding: 125px 15px 0;
		text-align: center;
		background-color: transparent;
		border: none;
		font-size: inherit;
		cursor: pointer;

		@media all and (max-width: 820px) {
			min-width: 50%;
		}

		@media all and (max-width: 480px) {
			width: 100%;
		}
		
		&:hover {
			text-decoration: underline;
		}

		&_forward-search {
			background-image: url(imgs/forward-search-white.svg);
			background-position: 50% 65px;
		}
		
		&_classical-recruting {
			background-image: url(imgs/classical-recruting-white.svg);
			background-position: 50% 62px;
		}
		
		&_staff-per-project {
			background-image: url(imgs/staff-per-project-white.svg);
			background-position: 50% 55px;
		}
		
		&_outplacement {
			background-image: url(imgs/outplacement-white.svg);
			background-position: 50% 53px;
		}
	}

	&__hidden-text {
		display: none;
	}

	&__text-cont {
		color: #fff;
		max-width: 980px;
		margin: auto;
	}

	&__ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__text {
		font-weight: bold;
		line-height: 1.4em;
		&_mtop {
			margin-top: 1.8em;
		}
	}

	&__li {
		position: relative;
			padding-left: .3em;
		&:before {
			content: '';
			width: .3em;
			height: .3em;
			background-color: #fff;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -.2em;
			border-radius: 100%;
			margin: auto;
		}
	}

	&__modal {
		&-close {
			.reset-button;
			position: absolute;
			top: 30px;
			right: 30px;
			z-index: 1;
			width: 19px;
			height: 19px;
			background: url(imgs/close-gray.svg);
		}
	}
}

.modal {
	position: absolute;
	top: 140px;
	right: 0;
	bottom: 30px;
	left: 0;
	background: url(imgs/mission-blablabla.svg) repeat-x 50% 0,
				url(imgs/mission-blablabla.svg) repeat-x 50% 100%;
	background-color: #F9F6EF;
	display: none;
	max-width: 900px;
	margin: auto;

	@media all and (max-width: 960px) {
		bottom: auto;
	}

	&__inner {
		position: absolute;
		top: 80px;
		right: 30px;
		bottom: 80px;
		left: 30px;
		max-width: 700px;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media all and (max-width: 960px) {
			position: static;
			padding: 80px 30px;
			min-height: 350px;
		}
	}

	&__header {
		font-family: Intro;
		padding-left: 100px;
		background-repeat: no-repeat;
		height: 65px;
		line-height: 65px;

		&_forward-search {
			background-image: url(imgs/forward-search-black.svg);
		}

		&_classical-recruting {
			background-image: url(imgs/classical-recruting-blacksvg.svg);
		}

		&_staff-per-project {
			background-image: url(imgs/staff-per-project-black.svg);
		}

		&_outplacement {
			background-image: url(imgs/outplacement-black.svg);
		}

		@media all and (max-width: 600px) {
			padding-left: 0;
			padding-top: 50px;
			height: auto;
			line-height: 1;
			margin-bottom: 16px;
		}
	}
}

.order {
	background: url(imgs/order-background.jpg) no-repeat 50% 50% / cover;
	background-attachment: fixed;
	position: relative;
	will-change: scroll-position;
	@media all and (max-width: 960px) {
		background-attachment: scroll;
	}

	&__inner {
		position: relative;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(imgs/order-page.svg) no-repeat 50% 50%;
		z-index: 1;
		@media all and (max-width: 960px) {
			& {
				background-size: 307% auto;
			}
		}
	}

	&__button {
		color: #fff;
		position: absolute;
		top: 64%;
		right: 24%;
		z-index: 2;
	}
}

.applicant {
	background-color: #747472;
	color: #fff;
	display: none;

	&__inner {
		padding: 85px 40px 40px;
		height: auto;
		position: relative;
		@media all and (max-width: 960px) {
			padding: 85px 30px 40px;
		}
	}

	&__text-cont {
		margin-bottom: 50px;
	}

	&__division-inner {
		position: relative;
	}

	&__close {
		.reset-button;
		position: absolute;
		width: 19px;
		height: 19px;
		background: url(imgs/close-gray.svg) no-repeat;
		top: 30px;
		right: 30px;
	}

	&__header {
		font-family: Intro;
		position: relative;
		cursor: pointer;
		&:after {
			content: '';
			background: url(imgs/arrow-down-gray-big.svg) no-repeat 50% 50%;
			background-size: auto 12px;
			width: 19px;
			height: 19px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -24px;
			margin: auto;
			transition: transform .3s;
		}

		&_expirience {
			display: none;
		}

		&_opened:after {
			transform: rotate(-90deg);
		}

		&:before {
			content: '';
			position: absolute;
			top: 9px;
			right: 0;
			left: 0;
			height: 5px;
			background-color: #898989;
			margin: auto;
		}
		&-span {
			background: #747472;
			position: relative;
			padding-right: 5px;
		}
	}

	&__text-header {
		font-family: Intro;
		margin: 16px 0;
	}

	&__division {
		&_expirience {
			display: none;
		}
	}

	&__line {

		&_mode {
			margin-top: 27px;
		}

		&_photo {
			margin: 18px 0 0;
		}

		&_education-dates {
			margin: 18px 0 0;
		}

		&_aim {
			margin-bottom: 27px;
		}

		&_add-more-education {
			margin-bottom: 27px;
		}

		&_empty {
			height: 5px;
			background-color: #898989;
			margin-top: 27px;
		}

		&_send {
			text-align: right;
			max-width: 660px;
			margin-top: 27px;
		}

		&_button {
			margin-bottom: 27px;
		}
	}

	&__avatar {
		width: auto;
		height: auto;
		max-width: 200px;
		max-height: 300px;
		position: relative;
		z-index: 2;
		vertical-align: top;
		&-close {
			.reset-button;
			position: absolute;
			z-index: 3;
			width: 30px;
			height: 30px;
			background: url(imgs/close-white-black.svg) no-repeat 50% 50%;
			top: 0;
			right: 0;
			display: none;
		}
	}

	&__input {
		height: 26px;
		border: 2px solid #fff;
		padding: 0 5px;
		background-color: transparent;
		font-family: Intro;
		color: #fff;
		font-size: 12px;
		display: inline-block;
		margin-bottom: 27px;
		max-width: 100%;
		&::placeholder {
			color: #9D9E9E;
			line-height: 26px;
		}

		&_sname {
			margin-right: 14px;	
			width: 129px;
		}

		&_name {
			margin-right: 32px;
			width: 129px;
		}

		&_city {
			margin-right: 14px;
		}

		&_email {
			margin-right: 14px;
		}

		&_company-name {
			width: 250px;
		}

		&_payment {
			vertical-align: top;
		}
	}

	&__your-phone-title {
		line-height: 24px;
		font-family: Intro;
		margin-left: 5px;
		@media all and (max-width: 520px) {
			width: 100%;
			margin: 0;
		}
	}

	&__select {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border: 2px solid #fff;
		height: 26px;
		background-color: transparent;
		color: #fff;
		padding: 0 5px;
		font-family: Intro;
		font-size: 12px;
		display: inline-block;
		margin-bottom: 27px;

		&_empty {
			background: url(imgs/arrow-down-gray.svg) no-repeat;
		}
	}

	&__file {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		z-index: 3;
		cursor: pointer;
	}

	&__bithday-title {
		line-height: 24px;
		font-family: Intro;
		@media all and (max-width: 450px) {
			width: 100%;
		}
	}

	&__option {
		border: none;
		color: #fff;
		font-family: inherit;
		font-size: inherit;
		background-color: #747472
	}

	&__label {
		position: relative;
		padding-left: 29px;
		padding-right: 5px;
		margin-bottom: 27px;
		font-family: Intro;
		line-height: 24px;
		display: inline-block;
		cursor: pointer;
		&_photo {
			padding: 0;
			display: inline-block;
			min-width: 100px;
			min-height: 100px;
			overflow: hidden;
			position: relative;
			height: auto;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
				background: transparent url(imgs/no-photo.svg) no-repeat;
				background-size: 100% 100%;
			}
		}

		&_cv {
			background: url(imgs/file-white.svg) no-repeat 0 50%;
			background-size: auto 24px;
			margin-bottom: 18px;
		}
	}

	&__photo-title {
		position: absolute;
		top: 5px;
		right: 0;
		left: 0;
		margin: auto;
		width: 50px;
		height: 30px;
		text-align: center;
		font-family: Calibri;
		z-index: 1;
	}

	&__radio,
	&__checkbox {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border: none;
		opacity: 0;
		margin: 0;
		padding: 0;
		display: inline-block;
		width: 24px;
		height: 24px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 12;
		cursor: pointer;
		& + span {
			display: inline-block;
			width: 24px;
			height: 24px;
			position: absolute;
			left: 0;
			top: 0;
			background: #fff;
		}
		&:checked + span {
			background: #E75328;
		}
	}

	&__textarea {
		width: 320px;
		max-width: 100%;
		height: 91px;
		resize: none;
		border: 2px solid #fff;
		background: transparent;
		color: inherit;
		padding: 0 5px;
		line-height: 20px;
		font-family: Intro;
		font-size: 12px;
		overflow: auto;
		margin-bottom: 27px;
		display: inline-block;
		color: #fff;

		&::placeholder {
			color: #f00;
		}

		&_duties {
			margin-right: 15px;
		}

		&_add-ed {
			margin-right: 20px;
		}

		&_comp {
			margin-right: 20px;
		}

		&_personal-q {
			width: 660px;
		}
	}

	&__aim-col {
		display: inline-block;
		vertical-align: top;
		margin-left: 5px;
	}

	&__aim-title {
		line-height: 18px;
		display: inline-block;
		width: 240px;
		font-family: Intro;
		font-size: 14px;
		margin-bottom: 14px;
	}

	&__button {
		&:before {
			display: none;
		}
		border-width: 2px;
		&:disabled {
			cursor: default;
			border-color: #898989;
			color: transparent;
		}
		&:disabled:after {
			content: 's';
			position: absolute;
			top: .4em;
			right: .6em;
			bottom: .4em;
			left: .6em;
			background: url(imgs/loading.gif) no-repeat 50% 50%;
			z-index: 5555;
		}
	}

	&__cv-filename {
		font-family: Intro;
		font-family: 12px;
		color: #aaa;
	}

	.education {
		&__block {
			position: relative;
		}

		&__inner {
			display: flex;
			@media all and (max-width: 630px) {
				display: block;
			}
		}

		&__title {
			font-family: Intro;
			margin-right: 20px;
		}

		&__school {
			width: 660px;
		}

		&__spec {
			width: 320px;
			margin-right: 20px;
		}

		&__dep {
			width: 320px;
		}
	}

	.remove-block {
		.reset-button;
		width: 19px;
		height: 19px;
		background: url(imgs/close-gray.svg) no-repeat;
		position: absolute;
		top: 30px;
		right: 30px;
		display: none;
	}
}

.day {
	background-position: 50% 50%;
	margin-right: 5px;
}

.month {
	background-position: 80% 50%;
	margin-right: 5px;
}

.year {
	background-position: 70% 50%;
	margin-right: 5px;
}

.break {
	display: none;
	@media all and (max-width: 850px) {
		&-1,
		&-2 {
			display: block;
		}
	}

	@media all and (max-width: 1050px) {
		&-3 {
			display: block;
		}
	}
}

.swap {
	display: inline-block;
	flex-wrap: wrap;
	&__order_1 {
		order: 1;
	}

	&__order_2 {
		order: 2;
	}

	&__order_3 {
		order: 3;
	}

	@media all and (max-width: 450px) {
		&-1 {
			display: flex;
		}
	}

	@media all and (max-width: 520px) {
		&-2 {
			display: flex;
		}
	}

	@media all and (max-width: 460px) {
		&-3 {
			display: flex;
			flex-direction: column;
		}
	}
}

.expirience {
	display: inline-flex;
	margin: 18px 0;
	@media all and (max-width: 580px) {
		flex-wrap: wrap;
	}

	@media all and (max-width: 420px) {
		display: block;
		&__end-month,
		&__end-year {
			margin-bottom: 0;
		}
	}

	&__item {
		text-align: right;

		&_1 {
			margin-right: 10px;
		}
		@media all and (max-width: 580px) {
			& {
				text-align: left;
			}

			&_1 {
				width: 100%;
			}
		}
	}

	&__title {
		font-size: 14px;
		font-family: Intro;
		display: inline-block;
		margin-bottom: 5px;
	}

	&__end-day {
		margin-left: 20px;
	}

	&__start-year,
	&__end-year {
		margin-right: 0;
	}

	&__note {
		color: #9D9E9E;
		font-size: 14px;
		display: inline-block;
		line-height: 15px;
		text-align: left;
		margin-top: 21px;
		margin-left: 7px;
		@media all and (max-width: 420px) {
			margin: 0;
		}
	}
}

.other {
	&__ed-lang {
		margin-top: 18px;
		display: flex;
		@media all and (max-width: 720px) {
			& {
				display: block;
			}
		}
	}

	&__comp-inf {
		display: flex;
		@media all and (max-width: 720px) {
			& {
				display: block;
			}
		}
	}

	&__header {
		font-size: 14px;
		font-family: Intro;
		margin-bottom: 10px;
	}

	&__payment-text {
		display: inline-block;
		line-height: 13px;
		height: 26px;
		max-width: 350px;
		font-size: 12px;
		margin-left: 5px;
		overflow: hidden;
		font-family: Intro;
	}
}

.cv-mode {
	&_cv {
		display: none;
	}
}

.contacts {
	background: #2f2a30 url(imgs/contacts-background-pattern.png) repeat-x;
	padding-left: 0;

	&__inner {
		height: auto;
		padding-bottom: 60px;
		padding-left: 194px;
		@media all and (max-width: 960px) {
			padding-left: 30px;
		}
	}

	&__items {
		display: flex;
		justify-content: space-between;
		max-width: 900px;
		margin: 18px auto 27px;

		@media all and (max-width: 960px) {
			display: block;
		}
	}

	&__item {
		color: #fff;
		background-repeat: no-repeat;
		background-position: 95% 50%;
		padding-right: 45px;
		&_address {
			background-image: url(imgs/address-white.svg);
			flex-basis: 270px;
			display: inline-block;
			min-height: 32px;
			@media all and (max-width: 960px) {
				padding-right: 65px;
				line-height: 32px;
			}

			@media all and (max-width: 560px) {
				line-height: 1;
			}
		}

		&_phone {
			background-image: url(imgs/phone-white.svg);
			line-height: 42px;
			display: inline-block;
		}

		&_email {
			background-image: url(imgs/email-white.svg);
			line-height: 42px;
			display: inline-block;
		}
	}

	&__map {
		height: 70vh;
		overflow: hidden;
		z-index: 1;
	}

	#map__mark {
		position: relative;
		padding: .4em .6em;
		font-family: Intro;
		border: 1px solid #000;
		width: 115px;
		right: -57px;
		bottom: -20px;
		&:before {
			content: '';
			width: 68px;
			height: 50px;
			background: url(imgs/map-mark.svg);
			position: absolute;
			left: -68px;
			top: 0;
		}
	}
}

.callback {

	&__gray-line {
		margin-left: 150px;
		height: 5px;
		background-color: #898989;
		margin-bottom: 27px;
	}

	&__header {
		color: #fff;
		font-family: Intro;
		margin-bottom: 18px;
	}

	&__fname {
		width: 129px;
		margin-right: 10px;
	}

	&__name {
		width: 129px;
	}

	&__email {
		width: 151px;
		margin-right: 10px;

		@media all and (max-width: 630px) {
			display: block;
		}
	}

	&__phone {
		width: 151px;
	}

	&__subtitle {
		font-family: Intro;
		margin-left: 10px;
		color: #fff;

		@media all and (max-width: 460px) {
			margin: 0 0 5px;
			display: block;
		}
	}

	&__comment {
		margin-bottom: 0;
	}

	&__button {
		vertical-align: top;
		margin-top: 57px;
		color: #fff;
		margin-left: 13px;
	}
}

.footer {
	position: relative;
	height: 72px;
	&__dev {
		width: 60px;
		height: 36px;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		background: url(imgs/dev-logo.svg) no-repeat 50% 50%;
	}
}