@font-face {
  font-family: Intro;
  src: url(fonts/intro.woff) format('woff');
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-ms-expand {
  display: none;
}
.reset-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
body {
  margin: 0;
  font-family: Calibri, sans-serif;
  font-size: 16px;
}
#wrapper {
  overflow: auto;
  position: relative;
}
.button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  position: relative;
  padding: .4em .6em;
  border: 1px solid #fff;
  display: inline-block;
  font-family: Intro;
  text-transform: lowercase;
  font-size: 14px;
}
.button:before {
  content: '';
  width: 26px;
  height: 10px;
  background: url(imgs/gt-white.svg) no-repeat 50% 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -27px;
  margin: auto;
}
.division {
  width: 100%;
  position: relative;
  padding-left: 194px;
}
.division__inner {
  height: 100vh;
  margin: auto;
  max-width: 900px;
  padding: 85px 30px 30px;
}
.division__header {
  font-family: Intro;
  position: relative;
  z-index: 2;
  font-size: 20px;
}
.division__header_mode {
  margin-bottom: 18px;
}
.division__header_white {
  color: #fff;
}
.division__header_black {
  color: #000;
}
@media all and (max-width: 960px) {
  .division {
    padding-left: 0;
  }
}
.main-menu {
  padding: 80px 30px 0 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 194px;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(imgs/face-orange.svg);
  background-repeat: no-repeat;
  background-position: 44px 39px;
  border-right: 1px solid #5b5b5b;
  will-change: scroll-position;
}
@media all and (max-width: 960px) {
  .main-menu {
    display: none;
    right: 0;
    width: auto;
    background-color: #F9F6EF;
    overflow: auto;
    padding: 0;
    background-image: none;
    z-index: 4;
  }
  .main-menu__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
.main-menu__item {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: right;
  font-family: Intro;
  padding: 5px 0;
  position: relative;
}
@media all and (max-width: 960px) {
  .main-menu__item {
    text-align: center;
    color: #000;
    padding: 20px;
  }
  .main-menu__item:after {
    content: '';
    position: absolute;
    width: 36px;
    height: 3px;
    background-color: #000;
    border-radius: 3px;
    right: 0;
    bottom: -2px;
    left: 0;
    margin: auto;
  }
  .main-menu__item:last-child:after {
    display: none;
  }
}
.menu-button {
  display: none;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 60px;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  background: url(imgs/menu-button.svg) no-repeat;
  background-size: 100% 100%;
}
.menu-button:before {
  display: none;
}
@media all and (max-width: 960px) {
  .menu-button {
    display: inline-block;
  }
}
.home-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 0;
  width: 55px;
  height: 62px;
  background: url(imgs/home-icon.svg) no-repeat 50% 50%;
  background-size: 100% auto;
  z-index: 4;
  display: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.home-button:before {
  display: none;
}
.header {
  background: url(imgs/header-background.jpg) no-repeat 50% 50% / cover;
  background-attachment: fixed;
  min-height: 515px;
  height: 100vh;
  will-change: scroll-position;
}
@media all and (max-width: 960px) {
  .header {
    min-height: 400px;
    background-attachment: scroll;
  }
}
.header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 194px;
  background-color: rgba(0, 0, 0, 0.25);
}
@media all and (max-width: 960px) {
  .header:before {
    left: 0;
  }
}
.header:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(imgs/header-logo.svg) no-repeat 50% 50%;
  background-size: 50% auto;
}
.social-menu-cont {
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: flex;
  align-items: flex-end;
  z-index: 1;
}
@media all and (max-width: 960px) {
  .social-menu-cont {
    display: block;
    left: 30px;
  }
}
.social-menu {
  text-align: center;
}
.social-menu_footer {
  display: flex;
  height: 35px;
  align-items: center;
  position: absolute;
  top: 0;
  right: 90px;
  bottom: 0;
  margin: auto;
}
@media all and (max-width: 470px) {
  .social-menu_footer {
    right: auto;
    left: 0;
  }
}
.social-menu_footer .social-menu__item {
  margin-bottom: 0;
}
.social-menu__title {
  color: #fff;
  text-transform: lowercase;
  margin-bottom: 6px;
  text-align: center;
}
.social-menu__item {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 6px;
  margin-left: 12px;
}
@media all and (max-width: 960px) {
  .social-menu__item {
    display: inline-block;
    margin-left: 6px;
  }
}
.social-menu__item_fb {
  background-image: url(imgs/fb.svg);
}
.social-menu__item_inst {
  background-image: url(imgs/inst.svg);
}
.social-menu__item_vk {
  background-image: url(imgs/vk.svg);
}
.introduce__inner {
  min-height: 450px;
  max-height: 550px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(imgs/introduce-curve.svg) no-repeat 80% 100% / contain;
  color: #727271;
}
@media all and (max-width: 960px) {
  .introduce__inner {
    height: auto;
    max-height: none;
  }
}
.introduce__p {
  margin: 1em 0 0;
  text-indent: .7em;
  color: #2B2A29;
}
.introduce__text {
  font-family: Intro;
  margin: 3em 0 0;
}
.mission {
  background: url(imgs/mission-background.jpg) no-repeat 50% 50% / cover;
  background-attachment: fixed;
  will-change: scroll-position;
}
@media all and (max-width: 960px) {
  .mission {
    background-attachment: scroll;
    min-height: 769px;
  }
}
.mission__inner {
  min-height: 550px;
  max-width: 900px;
}
@media all and (max-width: 600px) {
  .mission__inner {
    min-height: auto;
    height: auto;
  }
}
.mission:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
}
.mission__text {
  color: #fff;
  font-family: Intro;
  font-size: 24px;
  position: relative;
  z-index: 2;
  margin-top: 27px;
}
.mission__text-button {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.mission__bloor {
  position: absolute;
  z-index: 1;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 194px;
  display: flex;
  align-items: center;
}
@media all and (max-width: 960px) {
  .mission__bloor {
    left: 0;
  }
}
@media all and (max-width: 400px) {
  .mission__bloor {
    top: 210px;
  }
}
.mission__bloor-item {
  color: #fff;
  position: relative;
  flex-basis: 100%;
  display: flex;
}
.mission__bloor-text {
  max-width: 700px;
  padding: 30px 30px 75px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.mission__bloor-text_before {
  flex-basis: calc((100% - 900px) / 2);
  background-color: rgba(0, 0, 0, 0.5);
}
.mission__popup {
  position: absolute;
  top: 100px;
  right: 30px;
  left: 224px;
  display: none;
  background-color: #F9F6EF;
  z-index: 1;
  max-width: 900px;
  margin: auto;
  z-index: 2;
}
@media all and (max-width: 960px) {
  .mission__popup {
    left: 30px;
  }
}
@media all and (max-width: 700px) {
  .mission__popup {
    top: 0;
    right: 0;
    left: 0;
  }
}
.mission__popup-close {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 19px;
  height: 19px;
  background-image: url(imgs/close-gray.svg);
  z-index: 2;
}
.mission__popup-inner {
  background: url(imgs/mission-blablabla.svg) repeat-x 50% 0, url(imgs/mission-blablabla.svg) repeat-x 50% 100%;
  color: #2B2A29;
  overflow: hidden;
  padding: 80px 30px;
}
.mission__popup-p {
  margin: 0;
  text-indent: .5em;
}
.codex {
  background: url(imgs/codex-curve.svg) no-repeat 100% 50% / contain;
}
.codex__inner {
  min-height: 600px;
  max-height: 720px;
  padding: 85px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (max-height: 750px) {
  .codex__inner {
    max-height: none;
    height: auto;
  }
}
.codex__text {
  font-family: Intro;
  max-width: 800px;
  margin-bottom: 30px;
}
.codex__ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.codex__li {
  color: #1F1B20;
}
.codex__li:before {
  content: '·';
  padding-right: .1em;
}
.services {
  background-color: #E75328;
  height: auto;
}
.services__inner {
  min-height: 650px;
  max-height: 750px;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 960px) {
  .services__inner {
    max-height: none;
    height: auto;
  }
}
.services__types {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  margin: 0 auto 30px;
  flex-wrap: wrap;
}
@media all and (max-width: 480px) {
  .services__types {
    display: block;
  }
}
.services__type {
  font-family: Intro;
  color: #fff;
  background-repeat: no-repeat;
  height: 170px;
  position: relative;
  padding: 125px 15px 0;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: inherit;
  cursor: pointer;
}
@media all and (max-width: 820px) {
  .services__type {
    min-width: 50%;
  }
}
@media all and (max-width: 480px) {
  .services__type {
    width: 100%;
  }
}
.services__type:hover {
  text-decoration: underline;
}
.services__type_forward-search {
  background-image: url(imgs/forward-search-white.svg);
  background-position: 50% 65px;
}
.services__type_classical-recruting {
  background-image: url(imgs/classical-recruting-white.svg);
  background-position: 50% 62px;
}
.services__type_staff-per-project {
  background-image: url(imgs/staff-per-project-white.svg);
  background-position: 50% 55px;
}
.services__type_outplacement {
  background-image: url(imgs/outplacement-white.svg);
  background-position: 50% 53px;
}
.services__hidden-text {
  display: none;
}
.services__text-cont {
  color: #fff;
  max-width: 980px;
  margin: auto;
}
.services__ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.services__text {
  font-weight: bold;
  line-height: 1.4em;
}
.services__text_mtop {
  margin-top: 1.8em;
}
.services__li {
  position: relative;
  padding-left: .3em;
}
.services__li:before {
  content: '';
  width: .3em;
  height: .3em;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -0.2em;
  border-radius: 100%;
  margin: auto;
}
.services__modal-close {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
  width: 19px;
  height: 19px;
  background: url(imgs/close-gray.svg);
}
.modal {
  position: absolute;
  top: 140px;
  right: 0;
  bottom: 30px;
  left: 0;
  background: url(imgs/mission-blablabla.svg) repeat-x 50% 0, url(imgs/mission-blablabla.svg) repeat-x 50% 100%;
  background-color: #F9F6EF;
  display: none;
  max-width: 900px;
  margin: auto;
}
@media all and (max-width: 960px) {
  .modal {
    bottom: auto;
  }
}
.modal__inner {
  position: absolute;
  top: 80px;
  right: 30px;
  bottom: 80px;
  left: 30px;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media all and (max-width: 960px) {
  .modal__inner {
    position: static;
    padding: 80px 30px;
    min-height: 350px;
  }
}
.modal__header {
  font-family: Intro;
  padding-left: 100px;
  background-repeat: no-repeat;
  height: 65px;
  line-height: 65px;
}
.modal__header_forward-search {
  background-image: url(imgs/forward-search-black.svg);
}
.modal__header_classical-recruting {
  background-image: url(imgs/classical-recruting-blacksvg.svg);
}
.modal__header_staff-per-project {
  background-image: url(imgs/staff-per-project-black.svg);
}
.modal__header_outplacement {
  background-image: url(imgs/outplacement-black.svg);
}
@media all and (max-width: 600px) {
  .modal__header {
    padding-left: 0;
    padding-top: 50px;
    height: auto;
    line-height: 1;
    margin-bottom: 16px;
  }
}
.order {
  background: url(imgs/order-background.jpg) no-repeat 50% 50% / cover;
  background-attachment: fixed;
  position: relative;
  will-change: scroll-position;
}
@media all and (max-width: 960px) {
  .order {
    background-attachment: scroll;
  }
}
.order__inner {
  position: relative;
}
.order:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
}
.order:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(imgs/order-page.svg) no-repeat 50% 50%;
  z-index: 1;
}
@media all and (max-width: 960px) {
  .order:after {
    background-size: 307% auto;
  }
}
.order__button {
  color: #fff;
  position: absolute;
  top: 64%;
  right: 24%;
  z-index: 2;
}
.applicant {
  background-color: #747472;
  color: #fff;
  display: none;
}
.applicant__inner {
  padding: 85px 40px 40px;
  height: auto;
  position: relative;
}
@media all and (max-width: 960px) {
  .applicant__inner {
    padding: 85px 30px 40px;
  }
}
.applicant__text-cont {
  margin-bottom: 50px;
}
.applicant__division-inner {
  position: relative;
}
.applicant__close {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  width: 19px;
  height: 19px;
  background: url(imgs/close-gray.svg) no-repeat;
  top: 30px;
  right: 30px;
}
.applicant__header {
  font-family: Intro;
  position: relative;
  cursor: pointer;
}
.applicant__header:after {
  content: '';
  background: url(imgs/arrow-down-gray-big.svg) no-repeat 50% 50%;
  background-size: auto 12px;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -24px;
  margin: auto;
  transition: transform .3s;
}
.applicant__header_expirience {
  display: none;
}
.applicant__header_opened:after {
  transform: rotate(-90deg);
}
.applicant__header:before {
  content: '';
  position: absolute;
  top: 9px;
  right: 0;
  left: 0;
  height: 5px;
  background-color: #898989;
  margin: auto;
}
.applicant__header-span {
  background: #747472;
  position: relative;
  padding-right: 5px;
}
.applicant__text-header {
  font-family: Intro;
  margin: 16px 0;
}
.applicant__division_expirience {
  display: none;
}
.applicant__line_mode {
  margin-top: 27px;
}
.applicant__line_photo {
  margin: 18px 0 0;
}
.applicant__line_education-dates {
  margin: 18px 0 0;
}
.applicant__line_aim {
  margin-bottom: 27px;
}
.applicant__line_add-more-education {
  margin-bottom: 27px;
}
.applicant__line_empty {
  height: 5px;
  background-color: #898989;
  margin-top: 27px;
}
.applicant__line_send {
  text-align: right;
  max-width: 660px;
  margin-top: 27px;
}
.applicant__line_button {
  margin-bottom: 27px;
}
.applicant__avatar {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 300px;
  position: relative;
  z-index: 2;
  vertical-align: top;
}
.applicant__avatar-close {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  background: url(imgs/close-white-black.svg) no-repeat 50% 50%;
  top: 0;
  right: 0;
  display: none;
}
.applicant__input {
  height: 26px;
  border: 2px solid #fff;
  padding: 0 5px;
  background-color: transparent;
  font-family: Intro;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 27px;
  max-width: 100%;
}
.applicant__input::placeholder {
  color: #9D9E9E;
  line-height: 26px;
}
.applicant__input_sname {
  margin-right: 14px;
  width: 129px;
}
.applicant__input_name {
  margin-right: 32px;
  width: 129px;
}
.applicant__input_city {
  margin-right: 14px;
}
.applicant__input_email {
  margin-right: 14px;
}
.applicant__input_company-name {
  width: 250px;
}
.applicant__input_payment {
  vertical-align: top;
}
.applicant__your-phone-title {
  line-height: 24px;
  font-family: Intro;
  margin-left: 5px;
}
@media all and (max-width: 520px) {
  .applicant__your-phone-title {
    width: 100%;
    margin: 0;
  }
}
.applicant__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 2px solid #fff;
  height: 26px;
  background-color: transparent;
  color: #fff;
  padding: 0 5px;
  font-family: Intro;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 27px;
}
.applicant__select_empty {
  background: url(imgs/arrow-down-gray.svg) no-repeat;
}
.applicant__file {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}
.applicant__bithday-title {
  line-height: 24px;
  font-family: Intro;
}
@media all and (max-width: 450px) {
  .applicant__bithday-title {
    width: 100%;
  }
}
.applicant__option {
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  background-color: #747472;
}
.applicant__label {
  position: relative;
  padding-left: 29px;
  padding-right: 5px;
  margin-bottom: 27px;
  font-family: Intro;
  line-height: 24px;
  display: inline-block;
  cursor: pointer;
}
.applicant__label_photo {
  padding: 0;
  display: inline-block;
  min-width: 100px;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  height: auto;
}
.applicant__label_photo:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: transparent url(imgs/no-photo.svg) no-repeat;
  background-size: 100% 100%;
}
.applicant__label_cv {
  background: url(imgs/file-white.svg) no-repeat 0 50%;
  background-size: auto 24px;
  margin-bottom: 18px;
}
.applicant__photo-title {
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  margin: auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-family: Calibri;
  z-index: 1;
}
.applicant__radio,
.applicant__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 12;
  cursor: pointer;
}
.applicant__radio + span,
.applicant__checkbox + span {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
}
.applicant__radio:checked + span,
.applicant__checkbox:checked + span {
  background: #E75328;
}
.applicant__textarea {
  width: 320px;
  max-width: 100%;
  height: 91px;
  resize: none;
  border: 2px solid #fff;
  background: transparent;
  color: inherit;
  padding: 0 5px;
  line-height: 20px;
  font-family: Intro;
  font-size: 12px;
  overflow: auto;
  margin-bottom: 27px;
  display: inline-block;
  color: #fff;
}
.applicant__textarea::placeholder {
  color: #f00;
}
.applicant__textarea_duties {
  margin-right: 15px;
}
.applicant__textarea_add-ed {
  margin-right: 20px;
}
.applicant__textarea_comp {
  margin-right: 20px;
}
.applicant__textarea_personal-q {
  width: 660px;
}
.applicant__aim-col {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
.applicant__aim-title {
  line-height: 18px;
  display: inline-block;
  width: 240px;
  font-family: Intro;
  font-size: 14px;
  margin-bottom: 14px;
}
.applicant__button {
  border-width: 2px;
}
.applicant__button:before {
  display: none;
}
.applicant__button:disabled {
  cursor: default;
  border-color: #898989;
  color: transparent;
}
.applicant__button:disabled:after {
  content: 's';
  position: absolute;
  top: .4em;
  right: .6em;
  bottom: .4em;
  left: .6em;
  background: url(imgs/loading.gif) no-repeat 50% 50%;
  z-index: 5555;
}
.applicant__cv-filename {
  font-family: Intro;
  font-family: 12px;
  color: #aaa;
}
.applicant .education__block {
  position: relative;
}
.applicant .education__inner {
  display: flex;
}
@media all and (max-width: 630px) {
  .applicant .education__inner {
    display: block;
  }
}
.applicant .education__title {
  font-family: Intro;
  margin-right: 20px;
}
.applicant .education__school {
  width: 660px;
}
.applicant .education__spec {
  width: 320px;
  margin-right: 20px;
}
.applicant .education__dep {
  width: 320px;
}
.applicant .remove-block {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 19px;
  height: 19px;
  background: url(imgs/close-gray.svg) no-repeat;
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
}
.day {
  background-position: 50% 50%;
  margin-right: 5px;
}
.month {
  background-position: 80% 50%;
  margin-right: 5px;
}
.year {
  background-position: 70% 50%;
  margin-right: 5px;
}
.break {
  display: none;
}
@media all and (max-width: 850px) {
  .break-1,
  .break-2 {
    display: block;
  }
}
@media all and (max-width: 1050px) {
  .break-3 {
    display: block;
  }
}
.swap {
  display: inline-block;
  flex-wrap: wrap;
}
.swap__order_1 {
  order: 1;
}
.swap__order_2 {
  order: 2;
}
.swap__order_3 {
  order: 3;
}
@media all and (max-width: 450px) {
  .swap-1 {
    display: flex;
  }
}
@media all and (max-width: 520px) {
  .swap-2 {
    display: flex;
  }
}
@media all and (max-width: 460px) {
  .swap-3 {
    display: flex;
    flex-direction: column;
  }
}
.expirience {
  display: inline-flex;
  margin: 18px 0;
}
@media all and (max-width: 580px) {
  .expirience {
    flex-wrap: wrap;
  }
}
@media all and (max-width: 420px) {
  .expirience {
    display: block;
  }
  .expirience__end-month,
  .expirience__end-year {
    margin-bottom: 0;
  }
}
.expirience__item {
  text-align: right;
}
.expirience__item_1 {
  margin-right: 10px;
}
@media all and (max-width: 580px) {
  .expirience__item {
    text-align: left;
  }
  .expirience__item_1 {
    width: 100%;
  }
}
.expirience__title {
  font-size: 14px;
  font-family: Intro;
  display: inline-block;
  margin-bottom: 5px;
}
.expirience__end-day {
  margin-left: 20px;
}
.expirience__start-year,
.expirience__end-year {
  margin-right: 0;
}
.expirience__note {
  color: #9D9E9E;
  font-size: 14px;
  display: inline-block;
  line-height: 15px;
  text-align: left;
  margin-top: 21px;
  margin-left: 7px;
}
@media all and (max-width: 420px) {
  .expirience__note {
    margin: 0;
  }
}
.other__ed-lang {
  margin-top: 18px;
  display: flex;
}
@media all and (max-width: 720px) {
  .other__ed-lang {
    display: block;
  }
}
.other__comp-inf {
  display: flex;
}
@media all and (max-width: 720px) {
  .other__comp-inf {
    display: block;
  }
}
.other__header {
  font-size: 14px;
  font-family: Intro;
  margin-bottom: 10px;
}
.other__payment-text {
  display: inline-block;
  line-height: 13px;
  height: 26px;
  max-width: 350px;
  font-size: 12px;
  margin-left: 5px;
  overflow: hidden;
  font-family: Intro;
}
.cv-mode_cv {
  display: none;
}
.contacts {
  background: #2f2a30 url(imgs/contacts-background-pattern.png) repeat-x;
  padding-left: 0;
}
.contacts__inner {
  height: auto;
  padding-bottom: 60px;
  padding-left: 194px;
}
@media all and (max-width: 960px) {
  .contacts__inner {
    padding-left: 30px;
  }
}
.contacts__items {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 18px auto 27px;
}
@media all and (max-width: 960px) {
  .contacts__items {
    display: block;
  }
}
.contacts__item {
  color: #fff;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  padding-right: 45px;
}
.contacts__item_address {
  background-image: url(imgs/address-white.svg);
  flex-basis: 270px;
  display: inline-block;
  min-height: 32px;
}
@media all and (max-width: 960px) {
  .contacts__item_address {
    padding-right: 65px;
    line-height: 32px;
  }
}
@media all and (max-width: 560px) {
  .contacts__item_address {
    line-height: 1;
  }
}
.contacts__item_phone {
  background-image: url(imgs/phone-white.svg);
  line-height: 42px;
  display: inline-block;
}
.contacts__item_email {
  background-image: url(imgs/email-white.svg);
  line-height: 42px;
  display: inline-block;
}
.contacts__map {
  height: 70vh;
  overflow: hidden;
  z-index: 1;
}
.contacts #map__mark {
  position: relative;
  padding: .4em .6em;
  font-family: Intro;
  border: 1px solid #000;
  width: 115px;
  right: -57px;
  bottom: -20px;
}
.contacts #map__mark:before {
  content: '';
  width: 68px;
  height: 50px;
  background: url(imgs/map-mark.svg);
  position: absolute;
  left: -68px;
  top: 0;
}
.callback__gray-line {
  margin-left: 150px;
  height: 5px;
  background-color: #898989;
  margin-bottom: 27px;
}
.callback__header {
  color: #fff;
  font-family: Intro;
  margin-bottom: 18px;
}
.callback__fname {
  width: 129px;
  margin-right: 10px;
}
.callback__name {
  width: 129px;
}
.callback__email {
  width: 151px;
  margin-right: 10px;
}
@media all and (max-width: 630px) {
  .callback__email {
    display: block;
  }
}
.callback__phone {
  width: 151px;
}
.callback__subtitle {
  font-family: Intro;
  margin-left: 10px;
  color: #fff;
}
@media all and (max-width: 460px) {
  .callback__subtitle {
    margin: 0 0 5px;
    display: block;
  }
}
.callback__comment {
  margin-bottom: 0;
}
.callback__button {
  vertical-align: top;
  margin-top: 57px;
  color: #fff;
  margin-left: 13px;
}
.footer {
  position: relative;
  height: 72px;
}
.footer__dev {
  width: 60px;
  height: 36px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url(imgs/dev-logo.svg) no-repeat 50% 50%;
}
